<div class="ibox-content">

</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr *ngIf="itinerarios">
                <th>ID LINHA</th>
                <th>CODIGO</th>
                <th>NOME</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of itinerarios">
                <td>{{i.idlinha}}</td>
                <td>{{i.codigo}}</td>
                <td>{{i.nome}}</td>
            </tr>
        </tbody>
    </table>
</div>