<div class="container mt-3 text-center ">
    <h1>PoC DataPoa Dimed</h1>
    <p>Página de integração com Api DataPoa</p>
    <!--<link src="http://www.datapoa.com.br/dataset/poatransporte/resource/bc69456c-1fff-4e6f-875b-c3e6d7163c3c" />-->
</div>
<div class="container align-content-center">
    <div class="row">
        <div class="col-sm">
            <nav class="navbar navbar-default">
                <app-lista-linha-onibus class="nav-link"></app-lista-linha-onibus>
            </nav>
        </div>
        <div class="col-sm">
            <nav class="navbar navbar-default">
                <app-lista-linha-lotacao class="nav-link"></app-lista-linha-lotacao>
            </nav>
        </div>
        <div class="col-sm">
            <nav class="navbar navbar-default">
                <app-obter-itinerario-ut class="nav-link"></app-obter-itinerario-ut>
            </nav>
        </div>
    </div>
</div>